<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body style="background-color:black">
<style>
    .text-white{
        color:white
        }
</style>

<nav class="navbar" style="background-color:#00a65a">
    <p class="navbar-brand">Book Recommender</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recommend">Recommend</a></li>
        <li><a href="">Contact</a></li>
    </ul>

</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-white" style="font-size:50px">Top 100 Books</h1>
        </div>

        {% for i in range(book_name|length) %}
             <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img class="card-image-top" src="{{ image[i] }}" alt="">
                        <h5>{{ book_name[i] }}</h5>
                        <h6>Author:{{ author[i] }}</h6>
                        <h6>Publisher:{{ publisher[i] }}</h6>
                        <h6>Rating:{{ rating[i] }}</h6>
                    </div>
                </div>
            </div>
        {% endfor%}

    </div>
</div>

</body>
</html>